@page
@model FinalProject.Pages.CreateComposeMailModel
@{
}

<br />
<h2>Compose new email</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">
    <div>
        <label class="col-sm-3 col-form-label">Recipient name :</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="EmailReceiver" value="@Model.emailInfo.EmailReceiver">
        </div>
    </div>
    <div>
        <label class="col-sm-3 col-form-label">Subject :</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="EmailSubject" value="@Model.emailInfo.EmailSubject">
        </div>
    </div>
    <div>
        <label class="col-sm-3 col-form-label">Message :</label>
        <div class="col-sm-6">
            <input rows="4" cols="50" type="text" class="form-control" name="EmailMessage" value="@Model.emailInfo.EmailMessage">
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button onclick="Send()" type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Index" role="button">Cancel</a>
        </div>
    </div>
</Form>

<script>
    function Send() {

        alert("The Email has been sent successfully");
    }
</script>